// $default-font: "SofiaProExtraLight", Arial, sans-serif;
// $second-font: "FuturaPT-Demi", Arial, sans-serif;
// $title-font: "FuturaPT-Medium", Arial, sans-serif;

$primary: #848199;
$secondary: #231d4f;
$third: #403879;
$accent: #a847cc;
$accent-secondary: #bb6bd9;
$light-peach: rgba(248, 182, 116, 0.5);
