//custom animation
.blick {
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 300px;
    margin-left: 60px;
    background: #fff;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.7) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3ffffff',GradientType=0 );
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;
    transform: rotate(45deg);
    transition: all 0.1s;
    animation-name: slideme;
    animation-duration: 3s;
    animation-delay: 0.05s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}
@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.si-button-pulse {
  border-radius: 7px;
  &:hover {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    animation: si-button-pulse 0.8s 0s ease-out 1;
    box-shadow: none;
  }
}
@-webkit-keyframes si-button-pulse {
  from {
    box-shadow: 0 0 8px 6px #135ba6, 0 0 12px 14px #135ba6;
  }
  to {
    box-shadow: 0 0 18px 6px rgba(19, 91, 166, 0),
      0 0 4px 71px rgba(19, 91, 166, 0);
  }
}
@-moz-keyframes si-button-pulse {
  from {
    box-shadow: 0 0 8px 6px #135ba6, 0 0 12px 14px #135ba6;
  }
  to {
    box-shadow: 0 0 18px 6px rgba(19, 91, 166, 0),
      0 0 4px 71px rgba(19, 91, 166, 0);
  }
}
@-ms-keyframes si-button-pulse {
  from {
    box-shadow: 0 0 8px 6px #135ba6, 0 0 12px 14px #135ba6;
  }
  to {
    box-shadow: 0 0 18px 6px rgba(19, 91, 166, 0),
      0 0 4px 71px rgba(19, 91, 166, 0);
  }
}
@keyframes si-button-pulse {
  from {
    box-shadow: 0 0 8px 6px #135ba6, 0 0 12px 14px #135ba6;
  }
  to {
    box-shadow: 0 0 18px 6px rgba(19, 91, 166, 0),
      0 0 4px 71px rgba(19, 91, 166, 0);
  }
}

.bubble {
  position: relative;
  opacity: 0;
  animation-name: bubble;
  animation-duration: 1.5s;
}
@-webkit-keyframes bubble {
  0% {
    opacity: 0;
    top: 0;
  }
  50% {
    top: -15px;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes bubble {
  0% {
    opacity: 0;
    top: 0;
  }
  50% {
    top: -15px;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
